<p id="notice"><%= notice %></p>

<%= link_to 'Main Page', root_path,class:"btn btn-default navbar-btn" %>
<%= link_to 'Logout', destroy_member_session_path, class:"btn btn-default navbar-btn", method: :delete %>

<h1>Listing Galleries</h1>

<div class="row">
<%= render partial: 'gallery_card', collection: @galleries %>
</div>
