<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-md-12 cards">
    <%= render partial: "/images/image", collection: @gallery.images, locals: { size: :medium } %>

    <%= render partial: "/images/new_image" %>
  </div>
</div>
