<p id="notice"><%= notice %></p>

<%= render partial: "image", object: @image, locals: { size: :large } %>
<p>

<p>
  <%= @image.description %>
</p>

<%= link_to 'Back to gallery' , @image.gallery %>
